@media screen and (min-width: 601px){

	.bicycle__title{
		font-size: 35px;
	}

	.bicycle__body{
		display: flex;
		justify-content: center;
	}

	.bicycleItem:nth-child(2n){
		margin: 0;
	}

}

@media screen and (max-width: 600px){
	.bicycle__title{
		font-size: 30px;
	}

	.bicycleItem__title{
		display: inline-block;
	}

	.bicycleItem__caption{
		font-size: 14px;
	}
}

.bicycle__title{
	font-weight: bold;
	border-bottom: 1px solid black;
	margin: 0;
	display: inline-block;
}

.bicycleItem__image{
	width: 90%;
}

.bicycle{
	text-align: center;
	margin-top: 80px;
}

.bicycle__body{
	margin-top: 60px;
}

.bicycleItem__title{
	font-weight: bold;
}