.bicycle{
	margin-top: 80px;
	text-align: center;
}

.bicycle__title{
	display: inline-block;
	font-size: 35px;
	font-weight: bold;
	border-bottom: 1px solid black;
	margin: 0;
}

.bicycle__body{
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.bicycleItem:nth-child(2n){
	margin: 0 20px 0 20px;
}

.bicycleItem__image{
	height: 200px;
}

.bicycleItem__title{
	font-weight: bold;
}