body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	width: 100%;

}

.main{
	width: 100%;
}

@media screen and (min-width: 601px){

}

@media screen and (max-width: 600px){

}

.firstView__img{
	height: 600px;
	width: 100%;
	margin: 0;
	padding: 0;
}